File: Example3.ipynb   
Author: inga mazaeva   
Description: Learn how to slice, reshape, map, sort, drop index monthly mean temperature GHCN DataFrames   
You'll need to load the data into the environment - import GHCN data files - %run Template1.py - run in Jupyter Cell   

FOR EDUCATION PURPOSE ONLY

In [1]:
#%%capture   
"""----MAGIC COMMAND <%%capture>, WHICH SUPPRESS OUTPUT, ON THE TOP OF THE CELL------------------------"""

#to clear all loaded variables
globals().clear()

"""----EXAMPLES: TO CALL ONE PYTHON SCRIPT FROM ANOTHER PYTHON SCRIPT----------------------------------"""
#EXAMPLE1: Jupyter Notebook magic command, which allows you to run a python script as if it were cell
#%run Template1.py

#EXAMPLE2: Python built-in function that supports the dynamic execution of python code
exec(open('Template1.py').read()) 
%whos

                             M1     M2     M3     M4     M5     M6     M7  \
COUNTRY ID          YEAR
AC      ACW00011604 1961  -1.42   1.83   4.19   7.20  10.75  15.46  15.17
                    1962   0.60   0.32  -2.07   5.82   8.55  13.28  14.57
                    1963  -7.66  -6.06  -1.52   4.88  11.71  15.74  15.67
                    1964   0.09  -1.38   0.02   6.85  11.66  13.89  14.53
                    1965  -0.09  -1.58  -0.15   5.37   9.34  14.47  14.34
...                         ...    ...    ...    ...    ...    ...    ...
ZI      ZIXLT622116 1966  21.80  20.40  18.40  16.90  14.30  12.80  12.10
                    1967  21.10  19.90  18.90  19.20  15.10  13.50  11.00
                    1968  21.80  20.00  19.30  18.20  15.60  10.80  13.70
                    1969  20.90  21.50  19.50  18.30  14.10  13.10  11.60
                    1970  20.70  19.90  19.30  17.20  15.60  13.30  13.30

                             M8     M9    M10    M11    M12
COUNTRY ID          YEAR
AC      ACW00011604 1961  14.28  13.60  11.21   4.57  -0.92
                    1962  13.40  11.10   9.41   2.70  -1.79
                    1963  15.43  12.79   8.87   5.13  -1.61
                    1964  15.04  11.68   7.35   4.93   0.59
                    1965  14.24  13.24   9.21  -0.22  -2.31
...                         ...    ...    ...    ...    ...
ZI      ZIXLT622116 1966  14.60  17.70  19.80  20.90  21.10
                    1967  13.80  16.60  20.80  19.90  19.10
                    1968  16.30  17.60  21.80  18.40  20.70
                    1969  14.60  17.80  21.00  20.40  19.10
                    1970  15.40  20.40  20.30  21.30  21.50

[1457908 rows x 12 columns]

             LATITUDE  LONGITUDE  ELEVATION                  NAME
ID
ACW00011604     57.77      11.87       18.0                  SAVE
AE000041196     25.33      55.52       34.0    SHARJAH_INTER_AIRP
AEM00041184     25.62      55.93       31.0   RAS_AL_KHAIMAH_INTE
AEM00041194     25.25      55.36       10.4            DUBAI_INTL
AEM00041216     24.43      54.47        3.0  ABU_DHABI_BATEEN_AIR
...               ...        ...        ...                   ...
ZI000067983    -20.20      32.62     1132.0              CHIPINGE
ZI000067991    -22.22      30.00      457.0            BEITBRIDGE
ZIXLT371333    -17.83      31.02     1471.0      HARARE_BELVEDERE
ZIXLT443557    -18.98      32.45     1018.0            GRAND_REEF
ZIXLT622116    -19.43      29.75     1411.0                 GWELO

[27850 rows x 4 columns]

Variable         Type           Data/Info
-----------------------------------------
GHCN             module         <module 'LOAD_GHCN_DATA' <...>LIAD\\LOAD_GHCN_DATA.py'>
file_name1       str            temperature.txt
file_name2       str            stations.txt
home_directory   str            D://ClimateData/Data/Mont<...>y/Temperature/Unadjusted/
location         WindowsPath    D:\ClimateData\Data\Month<...>ly\Temperature\Unadjusted
mdf              DataFrame                               <...>457908 rows x 12 columns]
msf              DataFrame                   LATITUDE  LO<...>n[27850 rows x 4 columns]
os               module         <module 'os' from 'C:\\So<...>e\\Anaconda\\lib\\os.py'>
pathlib          module         <module 'pathlib' from 'C<...>aconda\\lib\\pathlib.py'>
pd               module         <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [2]:
#------SLICE DATAFRAMES--------------------------------------------------------------------------------
import numpy as np

country_labels = (
        'CA', 
        'US', 
        'MX')

print('FISRT METHOD - SELECT BY COUNTRIES')
#the <.isin> method doesn't sort <ct_label> - the countries are sorted in the data file and
#the label of each row of the <COUNTRY> index is compared with the list of countries <ct_label>
%time cdf = mdf[mdf.index.get_level_values(0).isin(country_labels)]  
display(cdf)

print('SECOND METHOD - SELECT BY COUNTRIES')
#the rows are selected in order in the list, but should be faster thanks to index search
idx_slice = pd.IndexSlice[country_labels, : ,:]
%time cdf = mdf.loc[idx_slice, :]
display(cdf)

#example of generating years set
year_labels = (
         1980,
         1985, 
         *np.arange(2000,2023, 2))

print('SELECT BY YEARS')

idx_slice = pd.IndexSlice[:, : ,year_labels]
%time cdf = mdf.loc[idx_slice, :]
display(cdf)

month_columns = (
        'M1',
        'M6',
        'M9')

station_labels = (
        'RSM00026063',
        'RSM00027612',
        'ZI000067983')

print('SELECT BY STAIONS, YEARS, MONTHS')

idx_slice = pd.IndexSlice[:, station_labels,year_labels]
%time cdf = mdf.loc[idx_slice, month_columns]
display(cdf)

FISRT METHOD - SELECT BY COUNTRIES
CPU times: total: 109 ms
Wall time: 128 ms

                            M1    M2    M3     M4     M5     M6     M7     M8  \
COUNTRY ID          YEAR
CA      CA001011500 1979   NaN   NaN   NaN    NaN    NaN  15.22  17.92  17.70
                    1991   NaN   NaN   NaN    NaN    NaN    NaN  17.96  18.14
                    1992  5.51  6.45   NaN  10.20  14.04  17.95  18.68  18.56
                    1993  1.58  4.43  7.69   9.84  15.08  15.81  16.84  18.53
                    1994  6.59  3.94  7.95  10.95  14.24  15.36  19.83  18.93
...                        ...   ...   ...    ...    ...    ...    ...    ...
US      USW00094996 2019 -3.93 -7.51  1.39  11.87  14.94  21.72  24.45    NaN
                    2020 -3.06 -0.40  6.47   9.73  14.81  24.13  24.44  23.29
                    2021 -1.14 -9.14  7.91  11.00  15.85  23.38  23.99  24.99
                    2022 -3.70 -1.68  4.68   9.84  17.00  22.85  24.66  24.70
                    2023 -2.28 -0.22  2.80  11.44  18.58    NaN    NaN    NaN

                             M9    M10   M11   M12
COUNTRY ID          YEAR
CA      CA001011500 1979  15.38  10.81  4.65   NaN
                    1991  15.73   9.71  7.09  5.33
                    1992  13.88    NaN  6.78  2.94
                    1993  16.19  11.91  5.65  5.34
                    1994  16.76  10.85  5.26  4.34
...                         ...    ...   ...   ...
US      USW00094996 2019  22.29   8.75  3.23  0.40
                    2020  17.97   9.48  7.23 -0.51
                    2021  20.59  13.45  7.16  2.36
                    2022  21.16  13.11  3.42 -3.55
                    2023    NaN    NaN   NaN   NaN

[855880 rows x 12 columns]

SECOND METHOD - SELECT BY COUNTRIES
CPU times: total: 125 ms
Wall time: 113 ms

                             M1     M2     M3     M4     M5     M6     M7  \
COUNTRY ID          YEAR
CA      CA001011500 1979    NaN    NaN    NaN    NaN    NaN  15.22  17.92
                    1991    NaN    NaN    NaN    NaN    NaN    NaN  17.96
                    1992   5.51   6.45    NaN  10.20  14.04  17.95  18.68
                    1993   1.58   4.43   7.69   9.84  15.08  15.81  16.84
                    1994   6.59   3.94   7.95  10.95  14.24  15.36  19.83
...                         ...    ...    ...    ...    ...    ...    ...
MX      MXXLT994294 1987  20.50  21.90  23.15    NaN  28.20  28.15  27.05
                    1988  20.95  22.30  23.55  27.15  28.10  27.65    NaN
                    1989  23.35  22.05  23.59  26.25    NaN  28.05  27.00
                    1990  22.50  22.95  24.05  26.55  29.35  27.59  26.75
                    1991  22.80  21.90  25.35  28.80  29.20    NaN    NaN

                             M8     M9    M10    M11    M12
COUNTRY ID          YEAR
CA      CA001011500 1979  17.70  15.38  10.81   4.65    NaN
                    1991  18.14  15.73   9.71   7.09   5.33
                    1992  18.56  13.88    NaN   6.78   2.94
                    1993  18.53  16.19  11.91   5.65   5.34
                    1994  18.93  16.76  10.85   5.26   4.34
...                         ...    ...    ...    ...    ...
MX      MXXLT994294 1987  27.35  27.84  25.15  23.85    NaN
                    1988    NaN    NaN  25.55    NaN    NaN
                    1989  27.05  26.55  25.34  24.65  20.04
                    1990  27.05  27.05  25.50  23.40  21.85
                    1991    NaN    NaN    NaN    NaN    NaN

[855880 rows x 12 columns]

SELECT BY YEARS
CPU times: total: 31.2 ms
Wall time: 37.5 ms

                             M1     M2     M3     M4     M5     M6     M7  \
COUNTRY ID          YEAR
AC      ACW00011604 1980  -3.40  -5.00  -0.35   5.24  10.71  15.34  16.55
                    1985  -7.40  -7.40   0.90   3.60  11.90  13.60  16.10
                    2000   1.80   2.10   2.30   8.10  12.50  13.70  15.50
                    2002   1.90   3.30   3.30   6.60  13.00  15.60  17.40
                    2004  -2.70  -0.04   2.05   7.35  11.50  13.20  15.10
...                         ...    ...    ...    ...    ...    ...    ...
ZI      ZI000067983 2012  21.86    NaN  21.57  18.33  18.35  16.25  15.63
                    2014    NaN  21.87    NaN    NaN    NaN    NaN    NaN
                    2016    NaN  22.85    NaN    NaN  16.92  16.81    NaN
        ZI000067991 1980  27.74  28.05  25.47  23.72  20.55  15.96  15.67
                    1985  27.89  26.60  27.13  24.10  20.24  17.60  17.83

                             M8     M9    M10    M11    M12
COUNTRY ID          YEAR
AC      ACW00011604 1980  15.02  12.69   6.60   1.38   1.25
                    1985  15.50  10.80   9.70   0.70  -0.10
                    2000  15.00  11.90  10.80   7.30   2.60
                    2002  19.35  13.40   4.65   1.65  -2.70
                    2004  17.50  12.65   7.95   3.10   3.05
...                         ...    ...    ...    ...    ...
ZI      ZI000067983 2012    NaN  20.34    NaN  22.98  21.99
                    2014    NaN  20.87  21.10  22.97    NaN
                    2016  18.28    NaN  23.34    NaN  22.87
        ZI000067991 1980  19.45  21.83  24.37  27.10  27.24
                    1985  20.08  22.26  25.32  25.87  27.42

[214852 rows x 12 columns]

SELECT BY STAIONS, YEARS, MONTHS
CPU times: total: 31.2 ms
Wall time: 32.4 ms

                             M1     M6     M9
COUNTRY ID          YEAR
RS      RSM00026063 1980  -8.79  18.56  11.36
                    1985 -13.67  13.62  11.08
                    2000  -4.33  15.65  10.90
                    2002  -4.43  17.21  11.89
                    2004  -8.29  15.09  13.56
                    2006  -5.68  17.12  14.44
                    2008  -1.69  15.36  10.72
                    2010 -12.04  15.63  12.64
                    2012  -4.75  15.44  13.26
                    2014  -6.85  15.45  13.65
                    2016 -11.25  16.65  13.20
                    2018  -3.00  16.30  14.95
                    2020   1.65  19.25  14.45
                    2022  -4.55  17.65  10.60
        RSM00027612 1980 -11.02  17.78  10.71
                    1985 -10.19  14.96  10.53
                    2000  -6.06  16.13  10.28
                    2002  -4.62  17.04  12.33
                    2004  -6.48  15.47  12.37
                    2006 -10.93  18.19  13.72
                    2008  -5.82  15.72  11.02
                    2010 -14.57  18.61  11.98
                    2012  -6.69  17.11  13.10
                    2014  -8.55  16.25  12.71
                    2016 -10.25  18.06  11.64
                    2018  -4.25  17.34  14.99
                    2020  -0.10  19.15  14.35
                    2022  -5.45  18.65  10.25
ZI      ZI000067983 1980  21.40  14.59  18.03
                    1985  21.52  15.33  18.49
                    2000  21.64    NaN    NaN
                    2002    NaN  14.58  19.01
                    2004    NaN  14.92  17.29
                    2006  21.83  14.99  18.37
                    2010    NaN  15.14  20.60
                    2012  21.86  16.25  20.34
                    2014    NaN    NaN  20.87
                    2016    NaN  16.81    NaN

In [3]:
print('EXAMPLE OF SORTING BY YEARS')
display(cdf.sort_index(level=2))

EXAMPLE OF SORTING BY YEARS

                             M1     M6     M9
COUNTRY ID          YEAR
RS      RSM00026063 1980  -8.79  18.56  11.36
        RSM00027612 1980 -11.02  17.78  10.71
        RSM00026063 1985 -13.67  13.62  11.08
        RSM00027612 1985 -10.19  14.96  10.53
ZI      ZI000067983 1980  21.40  14.59  18.03
                    1985  21.52  15.33  18.49
RS      RSM00026063 2000  -4.33  15.65  10.90
        RSM00027612 2000  -6.06  16.13  10.28
        RSM00026063 2002  -4.43  17.21  11.89
        RSM00027612 2002  -4.62  17.04  12.33
        RSM00026063 2004  -8.29  15.09  13.56
        RSM00027612 2004  -6.48  15.47  12.37
        RSM00026063 2006  -5.68  17.12  14.44
        RSM00027612 2006 -10.93  18.19  13.72
        RSM00026063 2008  -1.69  15.36  10.72
        RSM00027612 2008  -5.82  15.72  11.02
        RSM00026063 2010 -12.04  15.63  12.64
        RSM00027612 2010 -14.57  18.61  11.98
        RSM00026063 2012  -4.75  15.44  13.26
        RSM00027612 2012  -6.69  17.11  13.10
ZI      ZI000067983 2000  21.64    NaN    NaN
RS      RSM00026063 2014  -6.85  15.45  13.65
        RSM00027612 2014  -8.55  16.25  12.71
ZI      ZI000067983 2002    NaN  14.58  19.01
RS      RSM00026063 2016 -11.25  16.65  13.20
        RSM00027612 2016 -10.25  18.06  11.64
ZI      ZI000067983 2004    NaN  14.92  17.29
RS      RSM00026063 2018  -3.00  16.30  14.95
        RSM00027612 2018  -4.25  17.34  14.99
ZI      ZI000067983 2006  21.83  14.99  18.37
RS      RSM00026063 2020   1.65  19.25  14.45
        RSM00027612 2020  -0.10  19.15  14.35
        RSM00026063 2022  -4.55  17.65  10.60
        RSM00027612 2022  -5.45  18.65  10.25
ZI      ZI000067983 2010    NaN  15.14  20.60
                    2012  21.86  16.25  20.34
                    2014    NaN    NaN  20.87
                    2016    NaN  16.81    NaN

In [9]:
#---------MAP FUNCTION--------------------------------------------------------------------------
#Lambda functions are similar to user-defined 
#functions but without a name - anonymous functions

print('MAP FUNCTION TO ALL THE ELEMENTS - REPLACE NAN VALUES WITH -9999 AND VICE VERSA.\n\
       USE PANDAS VERSION GREATER THAN 2.1.0!')
cdf_test = cdf.map(lambda x: -9999 if np.isnan(x) else x)
display(cdf_test)

cdf_test = cdf_test.map(lambda x: np.nan if x==-9999 else x)
display(cdf_test)

MAP FUNCTION TO ALL THE ELEMENTS - REPLACE NAN VALUES WITH -9999 AND VICE VERSA.
       USE PANDAS VERSION GREATER THAN 2.1.0!

                               M1       M6       M9
COUNTRY ID          YEAR
RS      RSM00026063 1980    -8.79    18.56    11.36
                    1985   -13.67    13.62    11.08
                    2000    -4.33    15.65    10.90
                    2002    -4.43    17.21    11.89
                    2004    -8.29    15.09    13.56
                    2006    -5.68    17.12    14.44
                    2008    -1.69    15.36    10.72
                    2010   -12.04    15.63    12.64
                    2012    -4.75    15.44    13.26
                    2014    -6.85    15.45    13.65
                    2016   -11.25    16.65    13.20
                    2018    -3.00    16.30    14.95
                    2020     1.65    19.25    14.45
                    2022    -4.55    17.65    10.60
        RSM00027612 1980   -11.02    17.78    10.71
                    1985   -10.19    14.96    10.53
                    2000    -6.06    16.13    10.28
                    2002    -4.62    17.04    12.33
                    2004    -6.48    15.47    12.37
                    2006   -10.93    18.19    13.72
                    2008    -5.82    15.72    11.02
                    2010   -14.57    18.61    11.98
                    2012    -6.69    17.11    13.10
                    2014    -8.55    16.25    12.71
                    2016   -10.25    18.06    11.64
                    2018    -4.25    17.34    14.99
                    2020    -0.10    19.15    14.35
                    2022    -5.45    18.65    10.25
ZI      ZI000067983 1980    21.40    14.59    18.03
                    1985    21.52    15.33    18.49
                    2000    21.64 -9999.00 -9999.00
                    2002 -9999.00    14.58    19.01
                    2004 -9999.00    14.92    17.29
                    2006    21.83    14.99    18.37
                    2010 -9999.00    15.14    20.60
                    2012    21.86    16.25    20.34
                    2014 -9999.00 -9999.00    20.87
                    2016 -9999.00    16.81 -9999.00

                             M1     M6     M9
COUNTRY ID          YEAR
RS      RSM00026063 1980  -8.79  18.56  11.36
                    1985 -13.67  13.62  11.08
                    2000  -4.33  15.65  10.90
                    2002  -4.43  17.21  11.89
                    2004  -8.29  15.09  13.56
                    2006  -5.68  17.12  14.44
                    2008  -1.69  15.36  10.72
                    2010 -12.04  15.63  12.64
                    2012  -4.75  15.44  13.26
                    2014  -6.85  15.45  13.65
                    2016 -11.25  16.65  13.20
                    2018  -3.00  16.30  14.95
                    2020   1.65  19.25  14.45
                    2022  -4.55  17.65  10.60
        RSM00027612 1980 -11.02  17.78  10.71
                    1985 -10.19  14.96  10.53
                    2000  -6.06  16.13  10.28
                    2002  -4.62  17.04  12.33
                    2004  -6.48  15.47  12.37
                    2006 -10.93  18.19  13.72
                    2008  -5.82  15.72  11.02
                    2010 -14.57  18.61  11.98
                    2012  -6.69  17.11  13.10
                    2014  -8.55  16.25  12.71
                    2016 -10.25  18.06  11.64
                    2018  -4.25  17.34  14.99
                    2020  -0.10  19.15  14.35
                    2022  -5.45  18.65  10.25
ZI      ZI000067983 1980  21.40  14.59  18.03
                    1985  21.52  15.33  18.49
                    2000  21.64    NaN    NaN
                    2002    NaN  14.58  19.01
                    2004    NaN  14.92  17.29
                    2006  21.83  14.99  18.37
                    2010    NaN  15.14  20.60
                    2012  21.86  16.25  20.34
                    2014    NaN    NaN  20.87
                    2016    NaN  16.81    NaN

In [13]:
#------DROP INDEXES----------------------------------------------------------------------------------

print('DROP LEVEL 0 (COUNTRY) and 1 (ID)')
cdf_test = cdf.droplevel([0, 1], axis=0)             #axis = 0 has three level of MultiIndex, at least one level must be left
display(cdf_test)

print('RESET INDEX LEVEL 2 (YEAR) OF MULTIINDEX')
cdf_test = cdf.reset_index(level = 2, drop = False)
display(cdf_test)

print('RESET MULTIINDEX')
cdf_test = cdf.reset_index()                          
display(cdf_test)

print('REMOVE MULTIINDEX COLUMNS')
cdf_test = cdf.reset_index(drop = True)               
display(cdf_test)

DROP LEVEL 0 (COUNTRY) and 1 (ID)

         M1     M6     M9
YEAR
1980  -8.79  18.56  11.36
1985 -13.67  13.62  11.08
2000  -4.33  15.65  10.90
2002  -4.43  17.21  11.89
2004  -8.29  15.09  13.56
2006  -5.68  17.12  14.44
2008  -1.69  15.36  10.72
2010 -12.04  15.63  12.64
2012  -4.75  15.44  13.26
2014  -6.85  15.45  13.65
2016 -11.25  16.65  13.20
2018  -3.00  16.30  14.95
2020   1.65  19.25  14.45
2022  -4.55  17.65  10.60
1980 -11.02  17.78  10.71
1985 -10.19  14.96  10.53
2000  -6.06  16.13  10.28
2002  -4.62  17.04  12.33
2004  -6.48  15.47  12.37
2006 -10.93  18.19  13.72
2008  -5.82  15.72  11.02
2010 -14.57  18.61  11.98
2012  -6.69  17.11  13.10
2014  -8.55  16.25  12.71
2016 -10.25  18.06  11.64
2018  -4.25  17.34  14.99
2020  -0.10  19.15  14.35
2022  -5.45  18.65  10.25
1980  21.40  14.59  18.03
1985  21.52  15.33  18.49
2000  21.64    NaN    NaN
2002    NaN  14.58  19.01
2004    NaN  14.92  17.29
2006  21.83  14.99  18.37
2010    NaN  15.14  20.60
2012  21.86  16.25  20.34
2014    NaN    NaN  20.87
2016    NaN  16.81    NaN

RESET INDEX LEVEL 2 (YEAR) OF MULTIINDEX

                     YEAR     M1     M6     M9
COUNTRY ID
RS      RSM00026063  1980  -8.79  18.56  11.36
        RSM00026063  1985 -13.67  13.62  11.08
        RSM00026063  2000  -4.33  15.65  10.90
        RSM00026063  2002  -4.43  17.21  11.89
        RSM00026063  2004  -8.29  15.09  13.56
        RSM00026063  2006  -5.68  17.12  14.44
        RSM00026063  2008  -1.69  15.36  10.72
        RSM00026063  2010 -12.04  15.63  12.64
        RSM00026063  2012  -4.75  15.44  13.26
        RSM00026063  2014  -6.85  15.45  13.65
        RSM00026063  2016 -11.25  16.65  13.20
        RSM00026063  2018  -3.00  16.30  14.95
        RSM00026063  2020   1.65  19.25  14.45
        RSM00026063  2022  -4.55  17.65  10.60
        RSM00027612  1980 -11.02  17.78  10.71
        RSM00027612  1985 -10.19  14.96  10.53
        RSM00027612  2000  -6.06  16.13  10.28
        RSM00027612  2002  -4.62  17.04  12.33
        RSM00027612  2004  -6.48  15.47  12.37
        RSM00027612  2006 -10.93  18.19  13.72
        RSM00027612  2008  -5.82  15.72  11.02
        RSM00027612  2010 -14.57  18.61  11.98
        RSM00027612  2012  -6.69  17.11  13.10
        RSM00027612  2014  -8.55  16.25  12.71
        RSM00027612  2016 -10.25  18.06  11.64
        RSM00027612  2018  -4.25  17.34  14.99
        RSM00027612  2020  -0.10  19.15  14.35
        RSM00027612  2022  -5.45  18.65  10.25
ZI      ZI000067983  1980  21.40  14.59  18.03
        ZI000067983  1985  21.52  15.33  18.49
        ZI000067983  2000  21.64    NaN    NaN
        ZI000067983  2002    NaN  14.58  19.01
        ZI000067983  2004    NaN  14.92  17.29
        ZI000067983  2006  21.83  14.99  18.37
        ZI000067983  2010    NaN  15.14  20.60
        ZI000067983  2012  21.86  16.25  20.34
        ZI000067983  2014    NaN    NaN  20.87
        ZI000067983  2016    NaN  16.81    NaN

RESET MULTIINDEX

   COUNTRY           ID  YEAR     M1     M6     M9
0       RS  RSM00026063  1980  -8.79  18.56  11.36
1       RS  RSM00026063  1985 -13.67  13.62  11.08
2       RS  RSM00026063  2000  -4.33  15.65  10.90
3       RS  RSM00026063  2002  -4.43  17.21  11.89
4       RS  RSM00026063  2004  -8.29  15.09  13.56
5       RS  RSM00026063  2006  -5.68  17.12  14.44
6       RS  RSM00026063  2008  -1.69  15.36  10.72
7       RS  RSM00026063  2010 -12.04  15.63  12.64
8       RS  RSM00026063  2012  -4.75  15.44  13.26
9       RS  RSM00026063  2014  -6.85  15.45  13.65
10      RS  RSM00026063  2016 -11.25  16.65  13.20
11      RS  RSM00026063  2018  -3.00  16.30  14.95
12      RS  RSM00026063  2020   1.65  19.25  14.45
13      RS  RSM00026063  2022  -4.55  17.65  10.60
14      RS  RSM00027612  1980 -11.02  17.78  10.71
15      RS  RSM00027612  1985 -10.19  14.96  10.53
16      RS  RSM00027612  2000  -6.06  16.13  10.28
17      RS  RSM00027612  2002  -4.62  17.04  12.33
18      RS  RSM00027612  2004  -6.48  15.47  12.37
19      RS  RSM00027612  2006 -10.93  18.19  13.72
20      RS  RSM00027612  2008  -5.82  15.72  11.02
21      RS  RSM00027612  2010 -14.57  18.61  11.98
22      RS  RSM00027612  2012  -6.69  17.11  13.10
23      RS  RSM00027612  2014  -8.55  16.25  12.71
24      RS  RSM00027612  2016 -10.25  18.06  11.64
25      RS  RSM00027612  2018  -4.25  17.34  14.99
26      RS  RSM00027612  2020  -0.10  19.15  14.35
27      RS  RSM00027612  2022  -5.45  18.65  10.25
28      ZI  ZI000067983  1980  21.40  14.59  18.03
29      ZI  ZI000067983  1985  21.52  15.33  18.49
30      ZI  ZI000067983  2000  21.64    NaN    NaN
31      ZI  ZI000067983  2002    NaN  14.58  19.01
32      ZI  ZI000067983  2004    NaN  14.92  17.29
33      ZI  ZI000067983  2006  21.83  14.99  18.37
34      ZI  ZI000067983  2010    NaN  15.14  20.60
35      ZI  ZI000067983  2012  21.86  16.25  20.34
36      ZI  ZI000067983  2014    NaN    NaN  20.87
37      ZI  ZI000067983  2016    NaN  16.81    NaN

REMOVE MULTIINDEX COLUMNS

       M1     M6     M9
0   -8.79  18.56  11.36
1  -13.67  13.62  11.08
2   -4.33  15.65  10.90
3   -4.43  17.21  11.89
4   -8.29  15.09  13.56
5   -5.68  17.12  14.44
6   -1.69  15.36  10.72
7  -12.04  15.63  12.64
8   -4.75  15.44  13.26
9   -6.85  15.45  13.65
10 -11.25  16.65  13.20
11  -3.00  16.30  14.95
12   1.65  19.25  14.45
13  -4.55  17.65  10.60
14 -11.02  17.78  10.71
15 -10.19  14.96  10.53
16  -6.06  16.13  10.28
17  -4.62  17.04  12.33
18  -6.48  15.47  12.37
19 -10.93  18.19  13.72
20  -5.82  15.72  11.02
21 -14.57  18.61  11.98
22  -6.69  17.11  13.10
23  -8.55  16.25  12.71
24 -10.25  18.06  11.64
25  -4.25  17.34  14.99
26  -0.10  19.15  14.35
27  -5.45  18.65  10.25
28  21.40  14.59  18.03
29  21.52  15.33  18.49
30  21.64    NaN    NaN
31    NaN  14.58  19.01
32    NaN  14.92  17.29
33  21.83  14.99  18.37
34    NaN  15.14  20.60
35  21.86  16.25  20.34
36    NaN    NaN  20.87
37    NaN  16.81    NaN